.justify {
    text-align: justify;
}
.progress {
    padding-left: 0;
    padding-right: 0;
}
.supporterLabel {
    width: 80px;
    min-width: 80px;
}
.supporterPanel {
    max-width: 400px;
    display: inline-block;
}
.statisticsLabel {
    width: 400px;
    min-width: 400px;
}
.supportStatement {
    margin-top: 10px;
}
.statements {
    margin-bottom: 5px;
}

.submit-row {
    z-index: 5;
}

.phase {
    z-index: 1;
	height: 20px;
	width: 20px;
	border-radius: 25px;
    margin-top: -5px;
    display: inline-block;
    position: absolute;
}
.phase-intermediate {
    margin-left: -10px;
}

.process-start {
    left: 1em;
}
.process-end {
    background-color: #ecf0f1;
}

.progress {
    overflow: visible;
    margin-top: 10px;
}
.progress .progress-bar {
    border-radius: 4px;
}

.inline-stacked ._order {
    display: block;
}

.carousel-inner .item {
    height: 360px;
}

.carousel-inner .item .content {
    height: 100%;
}

.middle img {
    max-width: inherit;
}
