{% extends "base.html" %}
{% load mezzanine_tags keyword_tags i18n %}

{% block meta_title %}{{ page.meta_title }}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-xs-6">
            <h4>{% trans 'Formal statements' %}</h4>
            <div class="panel panel-info panel-default">
                <div class="panel-body justify">
                    {% trans 'These statements are required for the process to continue.' %}
                </div>
            </div>
            {# formal statements #}

            {% for statement in page.statementpage.formal_statements.all %}
                <div>
                    <strong>{{ statement.organization }}</strong>:
                    {% if statement.file != '' %}
                        <a href="{{ MEDIA_URL }}{{ statement.file }}"><span class="fa fa-file-pdf-o"></span></a>
                    {% else %}
                        <span>{% trans 'Statement pending' %}</span>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="col-xs-6">
            <h4>{% trans 'Informal statements' %}</h4>
            <div class="panel panel-info panel-default">
                <div class="panel-body justify">
                    {% trans 'These statements are not required for the process to continue but are interesting nonetheless.' %}
                </div>
            </div>
            {# informal statements #}
            <div class="statements">
            {% for statement in page.statementpage.informal_statements.all %}
                {% if statement.file != '' %}
                    <div>
                        <strong>{{ statement.organization }}</strong>:
                        <a href="{{ MEDIA_URL }}{{ statement.file }}">
                            <span class="fa fa-file-pdf-o"></span>
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            </div>

            <p>
                {% blocktrans %}
                Please understand that no statements from individuals can be shown here. If you are an organization
                and want to submit your statement, go ahead.
                {% endblocktrans %}
            </p>
            <a class="btn btn-primary" href="{% url 'page' slug='stellungnahme-einreichen' %}">{% trans 'Submit statement' %}</a>
        </div>
    </div>


{% endblock %}
